body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  padding: 2px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3,
h4 {
  margin: 0%;
}

button {
  margin: 2px;
}

.nav-user{
  color: white;
}
.nav-icon{
  max-width:40px;
}

.user-card{
display: flex;
flex-direction: row;
justify-content: space-between;
border: solid black 4px;
max-width: 100%;
row-gap: 6px;
align-items: start;
color: #BF4F74;
margin: 40px;
padding: 30px;
border-radius: 30px;
}

.user-card img {
  width: 200px;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 20px;
}

.article-card {
  border: solid black 2px;
  border-radius: 20px;
  background: white;
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  flex-grow: inherit;
  padding: 8px;
  margin-bottom: 10px;
}

.article-card img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: auto;
  border: solid 5px white;
  margin-bottom: 2px;
}

.card-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topic-tag {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  border: solid black 2px;
  border-radius: 5px;
  padding: 3px;
  height: 30px;
  font-weight: bold;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 26px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #97a09a;
}

.single-article {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.single-article img {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  max-width: max-content;
}

.single-article p {
  line-height: 1.8;
}

.loading {
  padding: 10px;
  color: #444;
  font-size: 1.2rem;
  text-align: center;
}

.comment-card {
  color: #444;
  background-color: #f4eeee;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 25px;
  row-gap: 4px;
  padding: 16px;
}

.comment-list {
  color: #444;
  margin: 20px;
}

.comment-list h4 {
font-size: 1.4rem;
margin-bottom: 20px;
}

.comment-list p {
  margin: 2px;
  line-height: 1.5;
}

.user-post {
  font-weight: bold;
}