body.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
  border-color: #ffffff;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  align-content: center;
  padding: 2px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  height: 60px;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  margin-top: 8px;
}

h3,
h4 {
  margin: 0%;
}

header h2 {
  margin-top: 20px;
  white-space: nowrap;
}

button {
  margin: 2px;
}

.nav-user{
  color: white;
}
.nav-icon{
  max-width:40px;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 20px;
}

.topic-tag {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  border: solid #000000 2px;
  border-radius: 5px;
  padding: 3px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.topic-tag:hover {
background-color: rgb(182, 171, 171);
border: solid rgb(182, 171, 171) 2px;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 26px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #97a09a;
}

.single-article {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.single-article img {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  max-width: max-content;
}

.single-article p {
  line-height: 1.8;
}

.loading {
  padding: 10px;
  color: #444;
  font-size: 1.2rem;
  text-align: center;
}

.comment-card {
  color: #444;
  background-color: #f4eeee;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 25px;
  row-gap: 4px;
  padding: 16px;
}

.comment-list {
  color: #444;
  margin: 20px;
}

.comment-list h4 {
font-size: 1.4rem;
margin-bottom: 20px;
}

.comment-list p {
  margin: 2px;
  line-height: 1.5;
}

.user-post {
  font-weight: bold;
}

.sortbtn {
  margin-top: 15px;;
  background-color: #DE2B67;
  color: white;
  padding: 11px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
}

.sort-dropdown {
  position: relative;
  display: inline-block;

}

.sort-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sort-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sort-content div:hover {background-color: #ede9e9}


.sort-dropdown:hover .sort-content {
  display: block;
}


.sort-dropdown:hover .sortbtn {
  background-color: #c95a7f;
}

.toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}

.toggle:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
  background: #16a085;
	border-radius: 18px;
	clear: both;
}

.toggle:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

.toggle:checked:after {
	background: rgba(196, 195, 195, 0.55);
}

.toggle,
.toggle:before,
.toggle:after,
.toggle:checked:before,
.toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content p {
  margin: 0;
}


.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 2px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
